# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore large binaries
downloads/linux/system-monitor-pro_0.1.0_amd64.AppImage

# Rust/Tauri specific
/target/
**/*.rs.bk
src-tauri/target/
*.pdb

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
